@font-face {
	font-family: 'funda';
	src: url('../fonts/proximanova-regular.woff');
}

h1,
p,
button,
body {
	padding: 0;
	margin: 0;
	font-family: 'funda', sans-serif;
}

.houses div p:nth-child(3) {
	padding: .5em;
	background: #F7A100;
	z-index: 200;
	color: white;
}

.houses div p:nth-child(1) {
	color: white;
	padding: .5em;
	border-radius: .3em;
	top: 1;
	position: absolute;
	width: min-content;
	background: #F7A100;
	transform: rotate(-30deg);
	z-index: 200;
}

@keyframes points {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
	height: 100vh;
	background: #E8F7F7;
}

span {
	opacity: 0;
	animation: points 1s infinite;
}

h1 {
	font-size: 3em;
	background: #F7A100;
	color: white;
	padding: .3em;
}

h2 {
	font-size: 2em;
	background: #F7A100;
	color: white;
	padding: .5em;
	text-align: center;
	margin-bottom: 1em;
}

h3 {
	padding: .5em;
    background: #0071B3;
    color: white;
    margin: .2em;
    font-size: 1em;
    border-radius: .2em;
}

section img {
	margin-bottom: -.5em;
}

.restart {
	margin-top: 3em;
}

.sugs {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: .5em;
}

.alt {
	color: #0071B3;
	font-style: italic;
}

.houses {
	margin-top: 4em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.options {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.options div {
	padding-bottom: 8em;
}

@media (max-width: 35em) {
	.options div button {
		width: 80vw;
	}

	section img {
		margin-bottom: -1em;
	}

	.results {
		flex-direction: column;
	}

	.results img {
		margin-top: .8em;
	}

	h1 {
		margin-bottom: .5em;
	}
}

div {
	padding: .5em;
	padding-bottom: 2em;
	text-align: center;
}

div img {
	width: 20em;
}

.houses div img:hover {
	opacity: .8;
	cursor: pointer;
}

button {
	align-self: center;
	transition: all .2s;
	border: 2px solid #F7A100;
	background: 0;
	padding: .8em;
	font-size: 1em;
	font-weight: 400;
	width: 9em;
	color: #F7A100;
	border-radius: .3em;
	cursor: pointer;
	margin: 1em .2em .2em .2em;
	cursor: pointer;
}

button:hover,
button:focus {
	outline: none;
	background: #F7A100;
	color: white;
	border-color: #F7A100;
}

.results {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	font-size: 2em;
	padding: .5em;
	background: #F7A100;
}

.results h1 {
	font-size: 1em;
}

.results img,
.results span {
	width: 4em;
	cursor: pointer;
}

.hide {
	display: none;
}