@font-face {
	font-family: 'funda';
	src: url('../fonts/proximanova-regular.woff');
}

h1,
p,
button,
body {
	padding: 0;
	margin: 0;
	font-family: 'funda', sans-serif;
}

h1 {
	font-size: 3em;
	margin-bottom: 1em;
}

button {
	margin: .2em;
	cursor: pointer;
}

.houses {
	margin-top: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.options {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.options div {
	padding-bottom: 8em;
}

@media (max-width: 30em) {
	.options div button {
		width: 80vw;
	}

	div img {
		width: 18em;
	}
}

div {
	padding: .5em;
	padding-bottom: 2em;
	text-align: center;
}

div img:hover {
	opacity: .8;
	cursor: pointer;
}

button {
	align-self: center;
	transition: all .2s;
	margin-top: 1em;
	border: 2px solid #F7A100;
	background: 0;
	padding: .8em;
	font-size: 1em;
	font-weight: 400;
	width: 9em;
	color: #F7A100;
	border-radius: .3em;
	cursor: pointer;
}

button:hover,
button:focus {
	outline: none;
	background: #F7A100;
	color: white;
	border-color: #F7A100;
}

.results {
	text-align: center;
	color: white;
	font-size: 2em;
	padding: .5em;
	background: #F7A100;
}

.hide {
	display: none;
}